/* Geral */
* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--cor-p6);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Cores */
:root {
  --cor-p1:#FF5C00;
  --cor-p2:#F16529;
  --cor-p3:#ffffff;
  --cor-p4:#f7f7f7;
  --cor-p5:#b6b6b6;
  --cor-p6:#2b2b2b;
  --cor-p7:#141414;
  --cor-p8:#222222;
  --cor-p9:#1b1b1b;
  --cor-10:#a0a0a0;
}
.cor1 {
  color:var(--cor-p1);
}
.cor2 {
  color:var(--cor-p2);
}
.cor3 {
  color:var(--cor-p3);
}
.cor4 {
  color:var(--cor-p4);
}
.cor5 {
  color:var(--cor-p5);
}
.cor6 {
  color:var(--cor-p6);
}
.cor7 {
  color:var(--cor-p7);
}
.cor9 {
  color:var(--cor-p9);
}
.cor10 {
  color:var(--cor-10);
}

/* Utilitário*/
.subtitulo {
  color:var(--cor-p4);
  font-size: 48px;
  max-width:350px;
  position: relative;
}
.subtitulo::before {
  content:'';
  width:230px;
  height:156px;
  position:absolute;
  transform: rotate(90deg);
  z-index: -1;
  top:30px;
  right: 225px;
  background-image: url("../img/assets/asset1.png");
}
.btn {
  transition:0.3s ease-in-out;
  border: 2px solid;
  border-image: linear-gradient(20deg, var(--cor-p7), var(--cor-p6), var(--cor-p7) 100%) 1;
  background-color: var(--cor-p8);
}
.btn:hover {
  border-image: linear-gradient(20deg, var(--cor-p6), var(--cor-p5), var(--cor-p6) 100%) 1;
}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:40px 0;
  gap:300px;
  background:var(--cor-p7);
  flex-wrap: wrap;
}
.navegacao ul{
  display: flex;
  gap:40px;
}
.navegacao ul li a{
  padding: 35px 0;
}
.navegacao ul li a::after {
  content: '';
  display: block;
  margin-top: 3px;
  width:0;
  height: 2px;
  background-color: var(--cor-p2);
  transition:0.3s;
}
.navegacao ul li a:hover:after {
  width:100%;
}

/* Container */
.container {
  max-width:1100px;
  margin: 0 auto;
}

/* Introdução */
.introducao-content {
  margin:60px 0 100px 0;
  display: flex;
  align-items: center;
}
.introducao-content img{
  overflow: hidden;
}
.introducao-content h1{
  font-size:64px;
  max-width:480px;
  position: relative;
  z-index: 1;
}
.redes-txt {
  margin-top:20px;
}
.redes-txt a {
  transition:0.2s;
}
.redes-txt a:hover {
  text-decoration:underline;
  color:var(--cor-p2);
}

/* Sobre */
.sobre-content {
  margin-bottom:120px;
  display: flex;
}
.sobre-content h2 {
  min-width: 350px;
}
.sobre-txt p strong {
  display: block;
  font-size: 32px;
  font-style:normal;
}
.sobre-txt p {
  max-width: 730px;
  font-size: 16px;
  font-style:italic;
  padding:10px 0;
  position:relative;
  margin-left:20px;
  margin-bottom:25px;
}
.sobre-txt p::before {
  content:'';
  position:absolute;
  width:5px;
  height:220px;
  border-radius:5px;
  background-color: var(--cor-p2);
  left:-15px;
}
.btn-bio {
  display: flex;
  gap:20px;
}
.btn-bio a{
  font-size:18px;
  padding:10px 35px;
}

/* Habilidades */
.habilidades-content {
  display: flex;
  margin-bottom:220px;
}
.habilidades-content-skill div p {
  text-align: center;
  opacity: 0;
  max-width: 100px;
  transition: 0.3s;
}
.habilidades-content-skill div:hover p{
  opacity: 1;
}
.habilidades-content-skill div {
  transition: 0.3s;
}
.habilidades-content-skill div:hover {
  transform: translateY(-8px);
}
.habilidades-content-skill img {
  padding:17px;
  background-color: var(--cor-p8);
  border-radius:20px;
  border:solid var(--cor-p7) 1px;
  transition: 0.3s;
}
.habilidades-content-skill {
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  position: relative;
}
.habilidades-content-skill::after { /* BG */
  content: '';
  width:1158px;
  height:1452px;
  background-image: url("../img/assets/bg5.png");
  z-index: -2;
  position: absolute;
  right:-80px;
  top:-80px;
  /* overflow: hidden; */
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Projetos */
.projeto {
  background-color: var(--cor-p8);
}
.projetos-content {
  margin-bottom:150px;
}
.projetos-content h2{
  margin-bottom:120px;
}
.projetos {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:50px;
}
.projeto {
  border: 3px solid;
  border-image: linear-gradient(20deg, var(--cor-p7), var(--cor-p6), var(--cor-p7) 100%) 1;
  padding:20px 35px;
  transition: 0.3s;
}
.projeto:hover {
  border-image: linear-gradient(20deg, var(--cor-p6), var(--cor-p7), var(--cor-p6) 100%) 1;
  transform: scale(1.01);
}
.projeto:hover p{
  color:var(--cor-p4);
}
.projeto:hover ul{
  color:var(--cor-p4);
}
.projeto h3 {
  font-weight: normal;
  font-size: 32px;
  margin-bottom:8px;
}
.projeto p {
  max-width:400px;
  margin-bottom:15px;
  transition: 0.3s;
}
.projeto ul {
  display: flex;
  gap:10px;
  padding:5px 10px;
  border-radius: 5px;
  border:1px var(--cor-p2) solid;
  background: linear-gradient(270.01deg, var(--cor-p8) 0.01%, var(--cor-p7) 140.84%);
}
.linguagens-projetos {
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.linguagens-projetos a {
  font-size: 14px;
  padding:5px 10px;
  background-color: var(--cor-p9);
  border-image: linear-gradient(20deg, var(--cor-p7), var(--cor-p8), var(--cor-p7) 100%) 1;
}
.linguagens-projetos a:hover {
  border-image: linear-gradient(20deg, var(--cor-p6), var(--cor-p5), var(--cor-p6) 100%) 1;
}

/* Formação */
.formacao {
  margin-bottom:150px;
}
.formacao-container {
  margin-top:80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:100px;
}
.formacao-container h3 {
  text-align: center;
  max-width: 370px;
  min-width: 370px;
  font-size: 24px;
  margin-bottom:20px;
}
.formacao-container div img {
  display: block;
  margin: 0 auto 20px auto;
}
.formacao-container div h3::after {
  content:'';
  display: block;
  width:70px;
  height: 3px;
  margin:10px auto;
  background-color: var(--cor-p2);
}
.formacao-container div p {
  text-align: center;
}

/* Experiência Profissional */
.experiencia {
  display: flex;
  align-items: flex-end;
  margin-bottom:250px;
}
.experiencia p {
  border-bottom: var(--cor-p2) 2px solid;
}
.experiencia div {
  display: flex;
  gap:5px;
}

/* Contato */
.contato {
  display: flex;
  justify-content: center;
  gap:50px;
  padding:50px 0 120px 0;
  background-color:  var(--cor-p8);
}
.contato-form label{
  display:block;
  margin:5px 0;
}
.contato-form input {
  margin-bottom: 10px;
  font-size: 18px;
  border: 2px solid;
  padding:8px 70px 8px 5px;
  border-image: linear-gradient(20deg, var(--cor-p7), var(--cor-p8), var(--cor-p7) 100%) 1;
  background-color: #1b1b1b;
}
.contato-form textarea {
  border: 2px solid;
  font-size: 18px;
  min-height: 100px;
  padding:8px 70px 8px 5px;
  border-image: linear-gradient(20deg, var(--cor-p7), var(--cor-p8), var(--cor-p7) 100%) 1;
  background-color: #1b1b1b;
  resize: none;
}
.contato-form h3 {
  margin-bottom:30px;
  font-size: 32px;
}

/* Footer */
.footer {
  text-align: center;
  background-color: var(--cor-p7);
  padding:30px 0;
}

/* Responsivo */
@media (max-width: 1100px) {
  .header {
    gap:40px;
  }
  .introducao-content h1 {
    font-size: 42px;
  }
  .container {
    max-width:800px;
    margin: 0 auto;
  }
  .introducao-content h1::after{
    background-image: none;
    width: 0;
    height: 0;
  }
  .subtitulo{
    font-size: 38px;
  }
}
@media (max-width: 750px) {

}