* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Source Code Pro", Arial, Helvetica;
}
body {
  height: 4000px;
  background: #f1f1f1;
}

/*============HEADER|NAVEGAÇÃO============*/

.header {
  background: #2c2c2c;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  gap: 300px;
}
.navegacao ul {
  display: flex;
  gap: 60px;
}
.navegacao ul li a {
  color: #ffffff;
  font-size: 1.13rem;
}

/*============HEADER|NAVEGAÇÃO/FIM============*/

/*=================INTRODUÇÃO=================*/

.introducao {
  background: url(/img/banner.png) center no-repeat;
  width: 100%;
  height: 336px;
  background-size: cover;
}
.content {
  display: flex;
  justify-content: center;
  gap: 150px;
  color: white;
}
.sobre {
  font-size: 14px;
  margin-top: 150px;
}
.sobre h1 {
  font-size: 64px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.sobre p {
  background: #2c2c2c;
  border: 5px solid #252525;
  max-width: 430px;
  padding: 20px 70px 20px 30px;
}
.sobre h1::before {
  content: "";
  width: 70px;
  height: 35px;
  background: #d62e2e;
  display: block;
  position: absolute;
  bottom: 5px;
  left: -6px;
  z-index: -1;
}
.tabela {
  margin-top: 140px;
}
.tabela h3 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  position: relative;
}
.tabela h3::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  background: #d62e2e;
  position: absolute;
  left: -7px;
  top: 6px;
}
.tabela ul {
  background: #2c2c2c;
  border: 5px solid #252525;
  text-align: center;
  padding: 25px 50px 25px 50px;
  font-size: 20px;
  font-weight: bold;
}
.tabela ul li + li {
  border-top: 3px #252525 solid;
  padding-top: 25px;
}
.tabela ul li {
  padding-bottom: 25px;
}
.sobre-dev {
  margin-top: 40px;
  background: #2c2c2c;
  border: 5px solid #252525;
}
.sobre-dev p {
  background: none;
  border: none;
}
.sobre-dev h2 {
  font-size: 32px;
  max-width: 350px;
}

/*===============INTRODUÇÃO/FIM===============*/ ;
